name: Testes E2E

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  schedule:
      - cron: '0 6 * * 1'

jobs:
  testes-selenium:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Instalar Chrome
        uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: stable

      - name: Cache Maven
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}

      - name: Iniciar aplicação em background
        run: |
          mvn exec:java -Dexec.mainClass="com.br.infnet.Main" &
          sleep 30

      - name: Executar testes Selenium
        run: mvn test -Dtest="**/*SeleniumTest*" -Dheadless=true
        env:
          CI: true
          DISPLAY: :99
